.pilha {
    display: flex;
    gap: 1rem;
    list-style: none; 
    padding: 0px;
    padding-top: 1.4rem;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    
}

.pilha li {
    display: block;
    flex-direction: column; 
    padding: 8px;
    height: 5rem;
    min-width: 7rem;
    position: relative;
    list-style: none;
}

.carta {
    width: 5rem;
    height: auto;
    display: block;
    cursor: pointer;
    position: absolute;
    width: 7rem;
    transition: top 0.2s ease;
}

@media (max-width: 1280px){
    .pilha {
        gap: 1.7rem;
    }

    .pilha li {
        padding: 10px;
        min-width: 6.5rem;
    }

    .carta {
        width: 6.5rem;
    }
}

@media (max-width: 768px) {
    .pilha {
        gap: 0.7rem;
    }

    .pilha li {
        padding: 5px;
        min-width: 5.5rem;
    }

    .carta {
        width: 5.5rem;
    }
}

/* Responsivo para celulares */
@media (max-width: 480px) {
    .pilha {
        gap: 0.5rem;
    }

    .pilha li {
        padding: 4px;
        min-width: 4.5rem;
    }

    .carta {
        width: 4.5rem;
    }
}